{
  "presets": [
    "react", "env", "stage-1"
  ],
  "plugins": [
    [
      "babel-plugin-root-import"
    ]
  ],
  "env": {
    "production": {
      "plugins": [
        "babel-plugin-root-import"
      ]
    }
  }
}